# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/wrapper/maven-wrapper.jar

# Eclipse
.classpath
.project
.settings/

# IntelliJ IDEA
.idea/
*.iml
*.iws

# OS-specific
.DS_Store
Thumbs.db

# Spring Boot
!**/src/main/**/target/classes/
!**/src/main/**/target/*.jar
!**/src/main/**/target/*.war
!**/src/main/**/target/*.ear
!**/src/main/**/target/*.zip
!**/src/main/**/target/*.tar.gz
!**/src/main/**/target/*.log
!**/src/main/**/target/generated-sources/
!**/src/main/**/target/generated-test-sources/

# Logs
*.log
logs/

# Temporary files
temp/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties

# Test results
TEST-*.xml
surefire-reports/